:root
    {
        --btn-primary-color:#FF900E;
        --banner-background-color:#f6e5d2;
        --description-color:#727272;
    }
    
    body{ 
        margin: 0;
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
      }

   
      

header
{
    background-color: var(--banner-background-color);
    /* padding: 50px; */
}

nav ul li
{
    list-style: none;
   
}

.logo-title{
    font-size: 45px;
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul
{
    display: flex;
    gap: 50px;
    align-items: center;
}

.banner img
{
    width: 1440px;
    margin: auto;
    border-radius: 5px;
    padding-bottom:50px;
    
}

.banner-title
{
    width: 50%;
    font-size: 64px;
    margin-top: 150px ;
    margin-bottom: 0px;
}

.banner-description
{
    width: 50%;
    margin: auto;
    color: var(--description-color);
    text-align: center;
}

.btn-primary
{
    width: 180px;
    height: 64px;
    background-color:var(--btn-primary-color);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}


.banner
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
    width: 100%;
}

.container{
    display: flex;
    gap: 50px;
    align-items: center;
    width: 70%;
    margin: auto;
}

.feature-images
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
    row-gap: 24px;
   
}

.feature-title-color
{
    color: var(--description-color);
}

.word-color
{
    color: var(--btn-primary-color);
}

.feature-detail
{

   
}

.section-title
{
    font-size: 2em;
}
